/* Small (sm) */
@media (max-width: 640px) {
  .headerTopItems {
    display: none;
  }
  .headerMenu {
    display: block;
    height: 36px;
    width: 36px;
    margin-right: 16px;
    background-color: black;
    border-color: black;
  }

  .headerMenu :focus{
    outline: none;
    display: none;
  }
}

/* Medium (md) */
@media (min-width: 640px)  {
  .headerTopItems {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .headerMenu {
    display: none;
  }
}


.headerTop {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.headerTopTitle {
  width: 200px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10%;
  color: white;
}


.headerTopItem {
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}


/* min-heightを指定して、Footerが一番下にくるように */
.children{
  min-height: 80vh;
  width: 100%;

}

.backToHome {
  margin: 3rem 0 0;
}
