.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ブログカード */
.blogCard {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.blogCardImage {
  border-radius: 8px 8px 0 0;
}

.blogCardInfo {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.blogCardTitle {
    height: 50px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
  }